body {
  background-color: #2f292b;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Open Sans';
  font-size: 68px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 54px;
  margin: 10px 0px 16px;
}

.subtitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
}

.button {
  background-color: #c96c47;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  height: 54px;
  padding: 4px 29px;
  width: 32%;
}

.field {
  background-color: rgba(47, 41, 43, .65);
  border: 0px solid #000;
  border-radius: 4px;
  color: white;
  font-size: 32px;
  height: 54px;
  margin-right: 3%;
  width: 80%;
}

::placeholder {
  color: white;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 47px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 52%;
}

.header-section {
  background-image: url('./assets/rain.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity: 0.69;
  text-align: center;
}

.container {
  padding-right: 129px;
  padding-left: 129px;
}

.city-info {
  font-size: 32px;
  margin-top: 7px;
  text-align: center;
}

.weather-data {
  display: flex;
  flex-wrap: wrap;
  margin-left: 84px;
}

.weather-card {
  color: black;
  background-color: #f0e6d9;
  border: 1px solid yellow;
  height: 180px;
  margin: 7px;
  width: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 925px) {
  form {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    margin-top: 10px;
    width: 42%;
  }

  .field {
    margin-right: unset;
    width: 100%;
  }
}
